body {
  background: #777;
}

#background {
  width: 270px;
  height: 400px;
  background: gray;
  margin: 50px auto;
  transition: all 2s ease;
}

#first-rows {
  margin-bottom: 20px;
  position: relative;
  top: 10px;
}

.rows {
  width: 300px;
  margin-top: 10px;
}

.fall-back {
  margin-left: 3px !important;
}

.align {
  margin-left: 6px !important;
}

.first-child {
  margin-left: 25px;
}
